.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-img{
    object-fit: cover;
    height: 414px;
    width: 557px;
    max-width: 100%;
}
.card-img.no{
    display: none;
}
.card-load{
    height: 414px;
    width: 557px;
    max-width: 100%;
    background: grey;
    display:inline-block;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
    100% {-webkit-mask-position:left}
}
  
.card-load.no{
    display: none;
}
.card-item{
    font-family: 'Cormorant', serif;
    font-size: 32px;
}
.card-price{
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}